@model GoodViewModel
@{
    ViewBag.Title = "Goods Creation";
}
<div class="row">
    <div class="col-md-8">
        <h2>Create Goods</h2>
        <form asp-controller="Good" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Name</label>
                <input asp-for="GoodsName" class="form-control" />
                <span asp-validation-for="GoodsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input asp-for="GoodsPrice" class="form-control" />
                <span asp-validation-for="GoodsPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Supplier</label>
                <select asp-for="SupplierId" asp-items="@ViewBag.ListOfSuppliers" class="form-control">
                    <option value="">Select Supplier</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Good" class="btn btn-primary" style="width:auto" />
            </div>
        </form>
    </div>
</div>
