@{
    ViewBag.Title = "HomeIndex";
}
<br/>
<div class="text-center">
    <h1>Welcome To my Project</h1>
</div>
<br />
<div class="text-center">
    <h2>Goods Management System</h2>
</div>
<div class="text-center">
    <img class="center" src="~/imags/105624389-1544663168660gettyimages-453073611.jpeg" width="800" height="400" />
</div>
    <div class="text-center">
        <h3>hasan@gmail.com</h3><
    </div>

